<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> #}
        <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Minha Locadora</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{path('homepage')}}">Home</a></li>
            <li><a href="{{path('filmes_index')}}">Filmes</a></li>
            <li><a href="{{path('genero_index')}}">Gênero</a></li>
            <li><a href="{{path('cliente_index')}}">Clientes</a></li>
            
          </ul>
            <a href="logout" class="btn btn-info pull-right">{{ app.user }}</a>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
