{% extends 'base.html.twig' %}


{% block title %}
    Filmes
{% endblock %}

{% block stylesheets %}
    <style>
        .radio {
            float: left;
            margin-right: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <fieldset>
        <legend>Novo Filme</legend>

        {{form_start(form_filmes)}}
        {{form_row(form_filmes.genero)}}
        <div class="form-group">            
        {{form_label(form_filmes.lancamento, 'É lançamento?')}}
        {#label - rotulo#}
        {{form_widget(form_filmes.lancamento, {
            "attr":{
                "class": "col-sm-10"
                }
                })
            }}
        {# passa atributos html/ referência / formulário / choice #}
        {{form_errors(form_filmes.lancamento)}}
        </div>
        {{form_widget(form_filmes)}}{#imprime tudo#}
        {% if capa %}
        <div>
            <img src="/capas/{{ capa }}" class="media-photo">
        </div>
        {% endif %}
        <button id="salvar" name="salvar" class="btn btn-primary pull-right" >Salvar</button>

        {{form_end(form_filmes)}}
    </fieldset>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
                    $('#filmes_genero').prepend('<option value="xxx">xxx</option>');
        });
    </script>
{% endblock %}